.sidebar {
    height: 100vh;
    flex: 0.2;
    padding-left: 10px;
    padding-right: 10px ;
    background-color: #040404;
    color: white;
    min-width: 230px;
}

.sidebar__logo {
    height: 70px;
    object-fit: contain;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title {
    margin-left: 10px;
    padding: 5px;
    font-size:12px
}